

.body {
  margin: 0;
  padding: 0;
}
.topbutton {
    background-color: transparent;
    color: transparent;
    border: 0vw;
}

.cardimg {
    position: absolute;
    left: 40vw;
    top: 10vw;
    width: calc(19vw);
    height: calc(13vw);
    z-index: 2;
}

.card {
    position: absolute;
    width: calc(20.5vw);
    top: 8vw;
    left: 40vw;
    object-fit: contain;
    z-index: 3;
}

.sum {
    position: absolute;
    z-index: 14;
    left: 41.5vw;
    font-size: .92vw;
    width: 17.7vw;
    height: 9.5vw;
    top: 22.3vw;
}

.pokemon-info {
    width: 2vw;
}

.pokemon-info > h3 {
    position: absolute;
    top: 7.4vw;
    left: 45vw;
    width: 17vw;
    font-size: clamp(1.5vw, 100%, 2vw);
    z-index: 10;
    contain-intrinsic-width: 7vw;
}

.unclickable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 3; 
    pointer-events: all; 
}


.unclickablepoof {
    position: absolute;
    width: 200vw;
    height: 200vw;
    top: 0;
    background-color: transparent;
    z-index: 2;
}

.cardButton {
    transform: skew(-40deg);
    border-radius: .3vw;
    background-color: rebeccapurple;
    color: white;
    width: 8vw;
    height: 2.4vw;
    position: absolute;
    top: 32.4vw;
    left: 50.1vw;
    z-index: 4;
}
.btn-text {
    transform: skew(40deg);
    font-size: 1.4vw;
}

.pokeholder {
    width: 40%;
    height: 1129px;
}

.pokemon-card-wrapper {
    position: fixed;
    top: 5vw;
    left: 2vw;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}

.border {
    position: absolute;
    width: 65vw;
}

.allimgs {
    display: flex;
}

.pokemonbinderimg {
    position: absolute;
    left: 85vw;
    top: 1vw;
    width: 10vw;
    height: auto;
    border: .2vw solid black;
    border-radius: 1vw;
}

.topText {
    background-color: #ffcc01;
    height: 7vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid black;
}

.everything {
    border: .4vw ridge black;
}

.topimage {
    position: absolute;
    width: 50vw;
}
.background-container {
    position: relative;
    width: 65%;
    height: 41vw;
    overflow: hidden;
}

.backgroundimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pokemon-container {
    position: absolute;
    transition: transform 0.3s;
}
.poof {
    position: absolute;
    top: 10%;
    left: 55%;
    width: 25vw;
    height: 25vw;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: 5;
    pointer-events: none;
    animation: fadeIn 0.5s ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5) translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
}

.button {
    width: 6vw;
    height: 6vw;
    padding: 0;
    background: none;
    border: none;
}
.pokemon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 2s;
}
.pokemon-img:hover{
    transform: scale(1.2);
}

.pokedexInactive {
    z-index: 5;
    width: 7vw;
    height: 7vw;
    object-fit: contain;
}
.pokedexActive {
    z-index: 5;
    width: 7vw;
    height: 7vw;
    object-fit: contain;
    filter: brightness(0) saturate(100%);
}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5vw, .5vw));
    grid-row-gap: .6vw;
    grid-column-gap: 1.3vw;
    max-width: 100%;
    margin: auto;
    padding-top: 10.6vw;
    padding-left: 3.2vw;
    border: 2px solid blue;
}

.pokedex-container {
    position: relative;
    width: 35%; 
    overflow: visible; 
    margin: 0 auto;
}


.pokedeximg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.endtitle{
    position: absolute;
    z-index: 20;
    left: 16vw;
    top: 18vw;
    width: 70vw;
}
.pikachuleft {
    position: absolute;
    z-index: 20;
    left: 7vw;
    top: 18vw;
    width: 15vw;
}

.pikachuright {
    position: absolute;
    z-index: 20;
    left: 79vw;
    top: 18vw;
    width: 15vw;
}
