body {
    margin: 0;
    padding: 0;
}
.border{
    width: 99.5%;
    height: 98.9%;
    border: .3vw solid black;
}
.firstEverything {
    display: flex;
    flex-direction: row;
    background-color: #89c981;
}

.header {
    position: relative;
    background-color: #ffcc01;
    display: flex;
    align-items: center;
    border-bottom: .2vw solid black;
    height: 7vw;

}
.headerimg{
    width: 50vw;
}
.input {
    width: 15%;
    height: 41.6vw;
    background-color: #bdb5a6;
    border-right: .2vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.inputimg{
    width: 100%;
    opacity: 80%;
}
.Text {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5vw;
}
.grass {
    height: 41vw;
    width: 45.5vw;
}
.headerimg{
    display: block;
    margin: auto;
}
.box{
    width: 40vw;
    margin-left: auto;
}
.buttonimg {
    position: absolute;
    left: 85vw;
    width: 10vw;
    height: auto;
    top: 1vw;
    border: .2vw solid black;
    border-radius: 1vw;
}
.button{
    background-color: transparent;
}