body {
    margin: 0;
    padding: 0;
}
.trapezoid-container {
    width: 40vw;
    aspect-ratio: 1; 
    position: relative;
    perspective: 10vw; 
    top: 4vw;
    left: 7vw;
    perspective-origin: 50% 0; 
}
    .trapezoid-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./src/imgs/binderimg.webp') 50%/ cover;
        transform-origin: 50% 100%;
        transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        border-top: .5vw solid black;
        border-left: .3vw solid black;
        border-bottom: .15vw solid black;
    }

.trapezoid-container-two {
    width: 40vw;
    aspect-ratio: 1;
    position: absolute;
    perspective: 10vw;
    top: 4.45vw;
    left: 47.6vw;
    perspective-origin: 50% 0;
}
    .trapezoid-container-two::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./src/imgs/binderimg.webp') 50%/ cover;
        transform-origin: 50% 100%;
        transform: matrix3d(1, .07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        border-top: .5vw solid black;
        border-right: .3vw solid black;
        border-bottom: .15vw solid black;
    }


.background {
    background-color: #ffcc01;
    width: 100%;
    height: 48.4vw;
}
.homebutton{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 10vw;
    left: 44.8vw;
    top: .5vw;
}
.homebuttonimg {
    background-color: transparent;
    border: .2vw solid black;
    border-radius: 1vw;
    position: absolute;
    width: 10vw;
    left: 43.8vw;
    top: .5vw;
}
.boxes1 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 50vw;
    top: 5vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, .07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.boxes2 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 62.5vw;
    top: 5.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, .07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.boxes3 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 75vw;
    top: 6.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, .07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.boxes4 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 10vw;
    top: 6.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.boxes5 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 22.5vw;
    top: 5.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.boxes6 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 35vw;
    top: 4.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.boxes7 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 10vw;
    top: 26.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.boxes8 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 22.5vw;
    top: 25.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.boxes9 {
    position: absolute;
    opacity: .5;
    z-index: 20;
    background-color: black;
    width: 10vw;
    height: 15vw;
    left: 35vw;
    top: 24.9vw;
    perspective-origin: 50% 0;
    transform-origin: 50% 100%;
    transform: matrix3d(1, -.07, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}